// Theme Colors


// colors
$primary: hsl(224, 22%, 50%);
$primary-light: #2E478A;
$primary-dark: #213363;

// Background
$background: #FFF;
$background-dark: #222E35;
$background-header-color-light: #000;
$background-header-color-dark: rgb(0, 88, 69)